.git
.venv
venv
__pycache__
*.pyc
.env
.env.*
frontend/node_modules
frontend/dist
mobile/node_modules
mobile/dist
translator-mobile/node_modules
translator-mobile/dist
models/*
!models
!models/tts
models/tts/*
!models/tts/en_US-lessac-medium.onnx
!models/tts/en_US-lessac-medium.onnx.json
logs
*.wav
*.mp3
*.m4a
*.webm
